doctype
html( lang="en" )
	head
		title Tone Analyzer
		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		//- Bootswatch Theme
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
		link(href="./stylesheets/analyze.css", rel="stylesheet")
	body
		div(class='container')
			div(class='row')
				div(class='col-sm-4')
					h3 #{data.document_tone.tone_categories[0].category_name}
					table(class="table table-striped")
						thead
							tr
								th(class="col-sm-6")
									Tone Name
								th(class="col-sm-6")
									Tone Score
						tbody
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[0].tones[0].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[0].tones[0].score}
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[0].tones[1].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[0].tones[1].score}
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[0].tones[2].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[0].tones[2].score}
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[0].tones[3].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[0].tones[3].score}
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[0].tones[4].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[0].tones[4].score}
				div(class='col-sm-4')
					h3 #{data.document_tone.tone_categories[2].category_name}
					table(class="table table-striped")
						thead
							tr
								th
									Tone Name
								th
									Tone Score
						tbody
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[2].tones[0].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[2].tones[0].score}
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[2].tones[1].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[2].tones[1].score}
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[2].tones[2].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[2].tones[2].score}
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[2].tones[3].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[2].tones[3].score}
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[2].tones[4].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[2].tones[4].score}
				div(class='col-sm-4')
					h3 #{data.document_tone.tone_categories[1].category_name}
					table(class="table table-striped")
						thead
							tr
								th
									Tone Name
								th
									Tone Score
						tbody
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[1].tones[0].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[1].tones[0].score}
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[1].tones[1].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[1].tones[1].score}
							tr 
								td(class="col-sm-6") #{data.document_tone.tone_categories[1].tones[2].tone_name}
								td(class="col-sm-6") #{data.document_tone.tone_categories[1].tones[2].score}
			div(class='row')
				div(class='col-sm-12')
					a(href="https://www.ibm.com/watson/developercloud/doc/tone-analyzer/understanding-tone.shtml#social" target="_blank") Understand your score
					br
					a(class='go-again btn btn-primary' href='/') Go again

		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
